<!-- <div id="lqdbe" style="position: absolute; visibility: visible; z-index: 1; display: none;">
    <a href='#goTop'>
    	<i class="fa fa-chevron-up fa-1x"></i>
    </a>
</div>
<div class="suspension">
    <ul>
        <li>
            <div id="online_advice" class="suspenbox" color="white" title="加入QQ群">
                <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=3323bd88eaf02f325e8cc91961cf31a95dd2d76c58716aab2c5729c39859651d"title="省环境生态大赛交流群">
                <i class="fa fa-qq fa-2x"></i>
                </a>
            </div>
        </li>
        <li>
            <div id="online_ewm" class="suspenbox" color="white" title="扫描二维码">
                <i class="fa fa-qrcode fa-2x"></i>
                <div class="bigewm">
                        <img src="__WEBSITE__/img/ewm.png" alt="大二维码">
                </div>
            </div>
        </li>
        <li>
            <div id="gototop" class="suspenbox" title="返回顶部">
                <i class="fa fa-chevron-up fa-2x" color="white"></i>
            </div>
        </li>
    </ul>
</div> -->
<div class="scrollsidebar" id="scrollsidebar">
  <div class="side_content">
    <div class="side_list">
      <div class="side_title"><a title="隐藏" class="close_btn"><span>关闭</span></a></div>
      <div class="side_center">
        <div class="custom_service">
          <p> <a title="点击加入交流群" href="//shang.qq.com/wpa/qunwpa?idkey=3323bd88eaf02f325e8cc91961cf31a95dd2d76c58716aab2c5729c39859651d" target="_blank"><img src="//pub.idqqimg.com/wpa/images/group.png"></a> </p>
        </div>
        <div class="other">
          <p><img src="__WEBSITE__/img/images/qrcode.jpg" width="120"/></p>
          <p>省环境生态大赛交流群:<br/>825344007</p>
        </div>
        <!-- <div class="msgserver">
          <p><a href="javascript:"></a></p>
        </div> -->
      </div>
      <div class="side_bottom"></div>
    </div>
  </div>
  <div class="show_btn">
    <span>大赛交流QQ群</span>
  </div>
</div>

