<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="CGI-exe" />
            <remove name="php" />
            <add name="php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\php54\php-cgi.exe" resourceType="File" />
        </handlers>
        <httpErrors errorMode="Detailed" />

    </system.webServer>
</configuration>
